body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    width: 100%;
    height: 100%;
    margin: 0 auto;

} 

.fa{
    padding: 2px;
    font-size: 15;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 3px;
    
}

.fa-instagram:hover{
    background-image:  linear-gradient(45deg, rgba(214, 184, 85, 0.568), rgba(204, 91, 91, 0.486), rgba(190, 60, 168, 0.5)) !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-facebook:hover{
    background: #2d60a37c !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-twitter:hover{
    background: #4781cc63 !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-facebook{
    background: #2d60a3;
    color:white;
}

.fa-instagram{
    background-image: linear-gradient(45deg, rgb(214, 184, 85), rgb(204, 91, 91), rgb(190, 60, 169));
    color:white;
}

.fa-twitter{
    background: #4781cc;
    color:white;
}

.a:hover{
    opacity: 0.8;
}

.nav-social{
    display:flex;
    flex-direction: row;
}

.titleImage{
    width: 100%;
    position: relative;
    align-items: center;
    margin-top: 50px;
}

.spacing{
    margin-top: 60px;
}

.heading-center{
    background: radial-gradient(rgba(255, 255, 0, 0.534), rgba(255, 255, 255, 0.5));
    padding: 30px;
    color: black;
    font-size: 50px;
}

.heading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container{
    height: 300px;
}

.carousel-button{
    width: 25px;
    height: 25px;
}

.pos{
    margin-top: 150px;
}


