body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    width: 100%;
    height: 100%;
    margin: 0 auto;

} 

a:hover{
    opacity: 0.8;
}
html{
    scroll-behavior: smooth;
}
.fa{
    padding: 2px;
    font-size: 15;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 3px;
}

.fa-instagram:hover{
    background-image:  linear-gradient(45deg, rgba(214, 184, 85, 0.568), rgba(204, 91, 91, 0.486), rgba(190, 60, 168, 0.5)) !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-facebook:hover{
    background: #2d60a37c !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-twitter:hover{
    background: #4781cc63 !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-facebook{
    background: #2d60a3;
    color:white;
}

.fa-instagram{
    background-image: linear-gradient(45deg, rgb(214, 184, 85), rgb(204, 91, 91), rgb(190, 60, 169));
    color:white;
}

.fa-twitter{
    background: #4781cc;
    color:white;
}

.a:hover{
    opacity: 0.8;
}

.nav-social{
    display:flex;
    flex-direction: row;
}

.titleImage{
    width: 100%;
    position: relative;
    align-items: center;
    margin-top: 50px;
}

.spacing{
    margin-top: 60px;
}

.heading-center{
    background: radial-gradient(rgba(255, 255, 0, 0.534), rgba(255, 255, 255, 0.5));
    padding: 30px;
    color: black;
    font-size: 50px;
}

.heading{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-button{
    width: 30px;
    height: 40px;
    opacity: 0.2;
    transition: all 0.4s ease;
}

.carousel-button:hover{
    opacity:0.5;
}

.pos{
    margin-top: 150px;
}

.pos-sched{
    margin-top: 200px;
}

.carousel h3{
    margin-left: 50px;
}

.news-spacing{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card button{
    text-decoration: none;
    color: black;
    font-size:20px;
    transition: all 0.3s ease;
}

.card button:hover{
    text-decoration: underline;
    text-decoration-color: rgb(179, 179, 42);
    color: black;
}

.schedule{
    display: flex;
    content:center;
    justify-content: center;
}

.schedule p{
    content:center;
    justify-content: center;
    padding: 3px;
    margin-left: 2px;
    margin-right: 2px;
    display:flex;

}

.col-1{
    margin: 0 2;
    display: center;
    border: 1px solid black;
    padding: 5px 50px;
    width: fit-content;
}

.schedule h3{
    text-decoration: underline;
    text-decoration-color: yellow;
}

.schedule-spacing{
    margin: 50px auto;
}

.contact-spacing{
    margin: 50px auto;
    justify-content: center;
    display: center;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #FFC107; 
}

.timetable-space{
    margin:30px auto;
}

.footer{
    color: white;
}

.footer a{
    color:white;
    text-decoration:none;
    text-decoration:underline;
    transition: all 0.3 ease;
}

.footer a:hover{
    opacity: 0.8;
}

.contact-title{
    padding-top: 10px;
}
